<a href="https://colab.research.google.com/github/gotserena/Data-bootcamp-6/blob/main/NYC_flight_2013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
install.packages("nycflights13")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(tidyverse)
library(nycflights13)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.1     ✔ purrr   1.0.1
✔ tibble  3.1.8     ✔ dplyr   1.1.0
✔ tidyr   1.3.0     ✔ stringr 1.4.1
✔ readr   2.1.4     ✔ forcats 1.0.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [ ]:
glimpse(flights)
glimpse(airlines)
glimpse(airports)
glimpse(planes)
glimpse(weather)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <dttm> 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 0…
Rows: 16
Columns: 2
$ carrier <chr> "9E", "AA", "AS", "B6", "DL", "EV", "F9", "FL", "HA", "MQ", "O…
$ name    <chr> "Endeavor Air Inc.", "American Airlines Inc.", "Alaska Airline…
Rows: 1,458
Columns: 8
$ faa   <chr> "04G", "06A", "06C", "06N", "09J", "0A9", "0G6", "0G7", "0P2", "…
$ name  <chr> "Lansdowne Airport", "Moton Field Municipal Airport", "Schaumbur…
$ lat   <dbl> 41.13047, 32.46057, 41.98934, 41.43191, 31.07447, 36.37122, 41.4…
$ lon   <dbl> -80.61958, -85.68003, -88.10124, -74.39156, -81.42778, -82.17342…
$ alt   <dbl> 1044, 264, 801, 523, 11, 1593, 730, 492, 1000, 108, 409, 875, 10…
$ tz    <dbl> -5, -6, -6, -5, -5, -5, -5, -5, -5, -8, -5, -6, -5, -5, -5, -5, …
$ dst   <chr> "A", "A", "A", "A", "A", "A", "A", "A", "U", "A", "A", "U", "A",…
$ tzone <chr> "America/New_York", "America/Chicago", "America/Chicago", "Ameri…
Rows: 3,322
Columns: 9
$ tailnum      <chr> "N10156", "N102UW", "N103US", "N104UW", "N10575", "N105UW…
$ year         <int> 2004, 1998, 1999, 1999, 2002, 1999, 1999, 1999, 1999, 199…
$ type         <chr> "Fixed wing multi engine", "Fixed wing multi engine", "Fi…
$ manufacturer <chr> "EMBRAER", "AIRBUS INDUSTRIE", "AIRBUS INDUSTRIE", "AIRBU…
$ model        <chr> "EMB-145XR", "A320-214", "A320-214", "A320-214", "EMB-145…
$ engines      <int> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ seats        <int> 55, 182, 182, 182, 55, 182, 182, 182, 182, 182, 55, 55, 5…
$ speed        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ engine       <chr> "Turbo-fan", "Turbo-fan", "Turbo-fan", "Turbo-fan", "Turb…
Rows: 26,115
Columns: 15
$ origin     <chr> "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EW…
$ year       <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013,…
$ month      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ day        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ hour       <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, …
$ temp       <dbl> 39.02, 39.02, 39.02, 39.92, 39.02, 37.94, 39.02, 39.92, 39.…
$ dewp       <dbl> 26.06, 26.96, 28.04, 28.04, 28.04, 28.04, 28.04, 28.04, 28.…
$ humid      <dbl> 59.37, 61.63, 64.43, 62.21, 64.43, 67.21, 64.43, 62.21, 62.…
$ wind_dir   <dbl> 270, 250, 240, 250, 260, 240, 240, 250, 260, 260, 260, 330,…
$ wind_speed <dbl> 10.35702, 8.05546, 11.50780, 12.65858, 12.65858, 11.50780, …
$ wind_gust  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, 20.…
$ precip     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ pressure   <dbl> 1012.0, 1012.3, 1012.5, 1012.2, 1011.9, 1012.4, 1012.2, 101…
$ visib      <dbl> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,…
$ time_hour  <dttm> 2013-01-01 01:00:00, 2013-01-01 02:00:00, 2013-01-01 03:00…

In [ ]:
head(flights)
head(airlines)
head(airports)
head(planes)
head(weather)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

  carrier name
1 9E      Endeavor Air Inc.
2 AA      American Airlines Inc.
3 AS      Alaska Airlines Inc.
4 B6      JetBlue Airways
5 DL      Delta Air Lines Inc.
6 EV      ExpressJet Airlines Inc.

  faa name                           lat      lon       alt  tz dst
1 04G Lansdowne Airport              41.13047 -80.61958 1044 -5 A
2 06A Moton Field Municipal Airport  32.46057 -85.68003  264 -6 A
3 06C Schaumburg Regional            41.98934 -88.10124  801 -6 A
4 06N Randall Airport                41.43191 -74.39156  523 -5 A
5 09J Jekyll Island Airport          31.07447 -81.42778   11 -5 A
6 0A9 Elizabethton Municipal Airport 36.37122 -82.17342 1593 -5 A
  tzone
1 America/New_York
2 America/Chicago
3 America/Chicago
4 America/New_York
5 America/New_York
6 America/New_York

  tailnum year type                    manufacturer     model     engines seats
1 N10156  2004 Fixed wing multi engine EMBRAER          EMB-145XR 2        55
2 N102UW  1998 Fixed wing multi engine AIRBUS INDUSTRIE A320-214  2       182
3 N103US  1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214  2       182
4 N104UW  1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214  2       182
5 N10575  2002 Fixed wing multi engine EMBRAER          EMB-145LR 2        55
6 N105UW  1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214  2       182
  speed engine
1 NA    Turbo-fan
2 NA    Turbo-fan
3 NA    Turbo-fan
4 NA    Turbo-fan
5 NA    Turbo-fan
6 NA    Turbo-fan

  origin year month day hour temp  dewp  humid wind_dir wind_speed wind_gust
1 EWR    2013 1     1   1    39.02 26.06 59.37 270      10.35702   NA
2 EWR    2013 1     1   2    39.02 26.96 61.63 250       8.05546   NA
3 EWR    2013 1     1   3    39.02 28.04 64.43 240      11.50780   NA
4 EWR    2013 1     1   4    39.92 28.04 62.21 250      12.65858   NA
5 EWR    2013 1     1   5    39.02 28.04 64.43 260      12.65858   NA
6 EWR    2013 1     1   6    37.94 28.04 67.21 240      11.50780   NA
  precip pressure visib time_hour
1 0      1012.0   10    2013-01-01 01:00:00
2 0      1012.3   10    2013-01-01 02:00:00
3 0      1012.5   10    2013-01-01 03:00:00
4 0      1012.2   10    2013-01-01 04:00:00
5 0      1011.9   10    2013-01-01 05:00:00
6 0      1012.4   10    2013-01-01 06:00:00

# Q1 : which carrier had most flights in March 2013

In [ ]:
result1 <- flights %>%
    filter(year == 2013, month == 3) %>%
    count(carrier) %>%
    arrange(desc(n)) %>%
    left_join(airlines, by = "carrier" ) %>%
    head(5)

View(result1)

  carrier n    name
1 UA      4971 United Air Lines Inc.
2 B6      4772 JetBlue Airways
3 EV      4726 ExpressJet Airlines Inc.
4 DL      4189 Delta Air Lines Inc.
5 AA      2787 American Airlines Inc.

# Q2 : which airport had most arrival flights in March 2013

In [ ]:
result2 <- flights %>%
    filter(year == 2013, month == 3) %>%
    count(dest) %>%
    arrange(desc(n)) %>%
    inner_join(airports, by = c("dest" = "faa")) %>%
    select(dest, n, name) %>%
    head(5)

View(result2)

  dest n    name
1 ATL  1448 Hartsfield Jackson Atlanta Intl
2 ORD  1343 Chicago Ohare Intl
3 BOS  1324 General Edward Lawrence Logan Intl
4 MCO  1265 Orlando Intl
5 FLL  1238 Fort Lauderdale Hollywood Intl

# Q3 : which carrier has most flights to LAX in March 2013

In [ ]:
result3 <- flights %>%
    filter(year == 2013, month == 3, dest == "LAX") %>%
    count(carrier) %>%
    arrange(desc(n)) %>%
    left_join(airlines, by = "carrier" ) %>%
    head(5)

View(result3)

  carrier n   name
1 UA      363 United Air Lines Inc.
2 AA      305 American Airlines Inc.
3 DL      238 Delta Air Lines Inc.
4 VX      153 Virgin America
5 B6      119 JetBlue Airways

# Q4 : which plane manufacturer had most flights since 2013

In [ ]:
popular <- flights %>%
    filter(year >= 2013) %>%
    count(tailnum) %>%
    inner_join(planes, by = "tailnum") %>%
    select(tailnum, n, manufacturer)

result4 <- aggregate(popular$n, by = list(manufacturer = popular$manufacturer), sum) %>%
    rename(count_flights = x) %>%
    arrange(desc(count_flights)) %>%
    head(5)

View(result4)

  manufacturer     count_flights
1 BOEING           82912
2 EMBRAER          66068
3 AIRBUS           47302
4 AIRBUS INDUSTRIE 40891
5 BOMBARDIER INC   28272